body {
    background-color: gray;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

h1 {
    color:lightcyan;
    text-shadow: lightgray;
    
}

.search-input {
    text-align: center;
    margin-bottom: 1.75em;
}

label {
    color:white;
}

.container-s {
    width:400px;
    background-color:lightgray;
    padding: 50px;
    display: flex;
    
    justify-content: space-evenly;
    align-items:center;
    text-align:center;
    border-style:ridge;
    border-color: indigo;
    height: 400px;
    border-radius: 37px;
    box-shadow: 20px 30px 20px;
    margin: 30px;
    
    
}


.container container-fluid{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;

}


.tracks{
    align-items: center;
    
}



.newJumbo {
    background-image: url("Music-visualizer-tune-tips.jpg");
    background-position: center; 
    image-rendering: optimizeQuality;
    display: flexbox;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

 .form-control {
    align-content: center;
}

.giantContainer {
    display: flex;
    margin: auto;
    text-align: center;
    padding-top: 77px;
    padding-left: 2em;
    padding-right: 3em;
    flex-shrink:initial;
    flex-direction: row-reverse;
}


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"]  {
    width: 100%;
        flex: 100%;}

    

  
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

.contain2{

}
@media only screen and (min-width: 700px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

